// override original .delivery-scope from delivery.css
body {
    &.delivery-scope {
        min-height: 100vh;
        max-height: 100vh;
        margin-bottom: 0;
    }
    .settings-menu{
        .disabled, :disabled {
            background-color: inherit !important;
        }
    }

    .qti-navigator {
        width: inherit;
    }
}
